
.homepage{
    max-width: 1113px; 
    margin-top: 50px; 
    background-color:hsl(2.86deg 91.3% 95.49%) !important ;

}
.atag{
    color:hsl(339, 98%, 52%)  !important;
    font-size: 29px;
} 
.A{
    margin-top: 5px;
    width: 93px;
}
p {
    margin-top: 8px !important;
    margin-bottom: 0rem !important;
}
.card{
    --bs-card-border-width: none !important;
}
.card-title{
    margin-top: 90px !important;
    width: 398px !important;
    font-size: 35px;

}
.card-text{ 
    color:black  !important;
   
} 
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: hsl(339, 98%, 52%) !important;
   border: none !important;
}
.product{
    background: rgb(255, 162, 0);
    border-radius: 10px;
}
.product1{
    background-color: rgb(237, 123, 201);
    border-radius: 10px;
}
.protitle{
    margin-top: 25px;
    font-size: 36px;
    margin-left: 10px;
    color: white;
}
.product2{
    background-color: blue;
    border-radius: 10px;
}
.sar{
    margin-top: 60px !important;
}
.h{
    margin-top: 90px;
}
.shotil{
    font-size: 30px;
    padding: 5px;
}
.s1{
    border-radius: 10px;
    box-shadow: 22px 24px 33px -6px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}
.B{
    margin-top: 80px;
}
.sub{
    height: 350px;
    width: 1119px;
    margin-top: 150px;
    margin-bottom: 100px;
    background-color: hsl(2.86deg 91.3% 95.49%) ;
    position: relative;
}
.subs{
    height: 200px;
    width: 295px;
    margin-left: 410px;
    position: absolute;
    margin-top: 100px;
}
/* .s{
    margin-top: 100px !important;
} */
.t{
    height: 42px !important;
}
.c{
    margin-left: 320px;
    margin-bottom: 50px;
}